workflows/[Action] Process Replies.json
{
  "name": "[Action] Process Replies",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        96,
        240
      ],
      "id": "aff559d1-8f7a-4417-bf9f-635e318f6ed2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/demo/sample_replies.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        992,
        240
      ],
      "id": "9ec1f024-f7e6-4abb-be6c-3183836fd5c4",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1216,
        240
      ],
      "id": "2f87bbf9-3933-4bf9-846b-39a5dbf9434f",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1440,
        240
      ],
      "id": "6be0ae4d-6786-45c1-b340-338254d18aa9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fd25d5a-7c0b-4e59-be7c-964c49326457",
              "name": "context",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        240
      ],
      "id": "fbcdbac8-60ac-43e6-bab4-c98c3d5683ca",
      "name": "ContextLoad"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/demo/context.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        320,
        240
      ],
      "id": "dfedcef7-4b04-49a8-a4e9-1f1f16c8c6a8",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        544,
        240
      ],
      "id": "28fac988-3ffd-431e-ba9a-9c1bffe893c3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39f6dd06-f241-4f24-90f1-f84b3c7d4d82",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "array"
            },
            {
              "id": "3faa03d0-cc9c-42b8-94b9-b011be6ccf5f",
              "name": "undefinedFields",
              "value": "={{ $json.undefinedFields }}",
              "type": "array"
            },
            {
              "id": "b5070d84-2b91-4d97-82b9-4663e9a6e077",
              "name": "attachment",
              "value": "={{ $('Loop Over Items').item.json.attachment }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        320
      ],
      "id": "f2df3f9b-c673-4eac-9242-d73fba0b8744",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1648,
        0
      ],
      "id": "e26ee39f-f1d4-42cb-8bf1-24d91abe9aa0",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/demo/data_process.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1872,
        -80
      ],
      "id": "06bb94d6-6cd8-4783-83b9-bf7aa30bf6bd",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8130caa-b0e7-47eb-b774-4a3dee3b057e",
              "leftValue": "={{ $json.attachment.toLowerCase() }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1872,
        208
      ],
      "id": "c3ab6894-0127-481b-b19f-b957656d35f8",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hDCKKZ9hRkSOMXzi",
          "mode": "list",
          "cachedResultName": "[sub-ACTION] Describe Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image": "/home/node/demo/sample_passport.jpg"
          },
          "matchingColumns": [
            "image"
          ],
          "schema": [
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2192,
        160
      ],
      "id": "2114e602-22d0-4c12-9a08-d89243f990d8",
      "name": "Describe Image"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0ETUajTRsYACIen1",
          "mode": "list",
          "cachedResultName": "[sub-ACTION] Read Email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "reply": "={{ $json.reply }}",
            "from": "={{ $json.from }}",
            "subject": "={{ $json.subject }}",
            "context": "={{ $json.context }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "reply",
              "displayName": "reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2192,
        320
      ],
      "id": "5dff1d24-3d77-4f54-ad96-f737788dc760",
      "name": "Extract Information from Email"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0ETUajTRsYACIen1",
          "mode": "list",
          "cachedResultName": "[sub-ACTION] Read Email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "reply": "={{ $('Details').item.json.reply }}\n\n---\nUse the attachement information as well:\n{{ $('Describe Image').item.json.output.toJsonString() }}",
            "from": "={{ $('Details').item.json.from }}",
            "subject": "={{ $('Details').item.json.subject }}",
            "context": "={{ $('Details').item.json.context }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "reply",
              "displayName": "reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2448,
        144
      ],
      "id": "a0d86a24-d4ba-4c6b-b032-0d28cd63f43e",
      "name": "Extract Information from Email1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38b5fb70-94a3-4e85-80e4-4d7656183ad8",
              "name": "reply",
              "value": "={{ $json.reply }}",
              "type": "string"
            },
            {
              "id": "9829caea-8895-43f2-be20-ac67a757d449",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "de85a611-f54a-4934-b5fc-254ee9a6a5ed",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "94b3f673-a5b7-488b-acd5-e36d09443d7a",
              "name": "context",
              "value": "={{ $('ContextLoad').item.json.context }}",
              "type": "string"
            },
            {
              "id": "bfa98974-ad2d-4db0-a0c1-f45a783eb5f7",
              "name": "attachment",
              "value": "={{$json.attachment}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        208
      ],
      "id": "cd518206-ce83-4f4f-a10d-1c3b234f82a8",
      "name": "Details"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39f6dd06-f241-4f24-90f1-f84b3c7d4d82",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "array"
            },
            {
              "id": "3faa03d0-cc9c-42b8-94b9-b011be6ccf5f",
              "name": "undefinedFields",
              "value": "={{ $json.undefinedFields }}",
              "type": "array"
            },
            {
              "id": "b5070d84-2b91-4d97-82b9-4663e9a6e077",
              "name": "attachment",
              "value": "={{ $('Loop Over Items').item.json.attachment }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        320
      ],
      "id": "733b4f5c-4349-477d-a9a2-e910c57fa736",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "ContextLoad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContextLoad": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Describe Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Information from Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Information from Email": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe Image": {
      "main": [
        [
          {
            "node": "Extract Information from Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Details": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Information from Email1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a9e8f44-3072-4ab3-8a64-657387cad1fe",
  "meta": {
    "instanceId": "061fbf063b4948f7663287693aacd3ca165021b2af8dfc4c32e26d9d89802289"
  },
  "id": "xjBnZsCWdRPl8aJ8",
  "tags": []
}