workflows/[ACTION] Find Gaps and Prepare Emails.json
{
  "name": "[ACTION] Find Gaps and Prepare Emails",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        224,
        16
      ],
      "id": "877a330b-b924-4520-9390-fe7248b98254",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/demo/user_data.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1120,
        16
      ],
      "id": "a07c0260-2320-46da-a3dd-043e1ccbce67",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1344,
        16
      ],
      "id": "9645f9a3-526d-47b5-b40a-566c6118f39b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87c26b9a-ff7e-4829-b0db-afcf11152929",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1568,
        16
      ],
      "id": "a190e028-35bc-4b7a-914e-4014d303c3e4",
      "name": "Filter Empty Emails"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const values = item.json;\n\n  const allFields = ['name', 'email', 'city', 'job', 'nationality', 'mobile_number', 'passport'];\n\n  const undefinedFields = allFields.filter(field => {\n    return (\n      !(field in values) ||\n      values[field] === \"\" ||\n      values[field] === null ||\n      values[field] === undefined\n    );\n  });\n\n  return {\n    json: {\n      ...values,\n      hasUndefined: undefinedFields.length > 0,\n      undefinedFields\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        16
      ],
      "id": "ebdb189b-7e6a-44a8-9ed6-3f0164f0f137",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d7c800a-e397-4351-9771-9b464e5cffd6",
              "leftValue": "={{ $json.hasUndefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2016,
        16
      ],
      "id": "86973dd6-eeca-4a02-9c89-c0021290fe7b",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2240,
        16
      ],
      "id": "d51c1699-264c-4295-b615-967482e98cc5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bmQbrbKmgq7pQv24",
          "mode": "list",
          "cachedResultName": "[sub-ACTION] Prepare Email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user": "={{ $('Loop Over Items').item.json }}",
            "context": "={{ $('ContextLoad').item.json.context }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2464,
        32
      ],
      "id": "29118ff4-fda1-4f63-ae75-f9987b9bdbab",
      "name": "Draft_Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2758f93e-6c5e-41ca-bfa4-44c9a183c8a5",
              "name": "to",
              "value": "={{ $('Loop Over Items').item.json.email }}",
              "type": "string"
            },
            {
              "id": "c3d75fae-d26d-4a6f-a7f1-7a655e52a62b",
              "name": "subject",
              "value": "={{ $json.output.subject }}",
              "type": "string"
            },
            {
              "id": "acf72ff0-eeca-4a59-b17b-c72815b1cd27",
              "name": "email",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "93459782-12c4-4108-97c1-2f40b2228b9c",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        96
      ],
      "id": "2f3ec869-e0ad-480f-b789-076e7ae3b7d7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2464,
        -176
      ],
      "id": "de3dac0c-a0b3-4b2a-9d1e-7760e4084694",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/demo/sample_emails.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2688,
        -176
      ],
      "id": "b96f1ca3-a0ec-45a4-a3e0-d47c97cb3a68",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/demo/context.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        448,
        16
      ],
      "id": "420f9eff-a8f0-43fc-a7e9-0c3b00d7c5f7",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        16
      ],
      "id": "49fb1860-20dd-4e8c-b6a2-542b53cc0419",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fd25d5a-7c0b-4e59-be7c-964c49326457",
              "name": "context",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        16
      ],
      "id": "0eb820c7-22b9-4a96-8928-8ecc4561ecc2",
      "name": "ContextLoad"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Filter Empty Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Empty Emails": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft_Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft_Email": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "ContextLoad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContextLoad": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5109b34-084f-4748-8759-d2002077f92c",
  "meta": {
    "instanceId": "061fbf063b4948f7663287693aacd3ca165021b2af8dfc4c32e26d9d89802289"
  },
  "id": "Wfwr480qYgDnjetR",
  "tags": []
}