workflows/[DEMO] Phase 2.json
{
  "name": "[DEMO] Phase 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2096,
        120
      ],
      "id": "a72ce085-755b-4858-8406-cce99b0ca86d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -976,
        120
      ],
      "id": "50aa77e5-cb94-4b72-a5f2-202246e42e89",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fd25d5a-7c0b-4e59-be7c-964c49326457",
              "name": "context",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        120
      ],
      "id": "73f42b33-02c3-4b6a-8e67-dc30328b8327",
      "name": "ContextLoad"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/demo/context.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1872,
        120
      ],
      "id": "eb97f78c-25c9-446b-8def-a92d28c9c6dd",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1648,
        120
      ],
      "id": "05163a7e-e879-498d-ba05-a46528c0ebdc",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b88ba180-99b5-442b-9ba0-6ec203d720fa",
              "name": "from",
              "value": "={{ $('Details').item.json.from }}",
              "type": "string"
            },
            {
              "id": "3faa03d0-cc9c-42b8-94b9-b011be6ccf5f",
              "name": "undefinedFields",
              "value": "={{ $json.undefinedFields }}",
              "type": "array"
            },
            {
              "id": "39f6dd06-f241-4f24-90f1-f84b3c7d4d82",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "array"
            },
            {
              "id": "e11bf6ef-cab5-4706-9931-3d8eda93a9a7",
              "name": "email_id",
              "value": "={{ $('Details').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        240
      ],
      "id": "666ec99b-a34c-4ebe-acd6-08bb77491ec3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -752,
        -336
      ],
      "id": "b03cc924-fa58-4189-92de-f11867bff634",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/demo/live_process.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -544,
        -336
      ],
      "id": "4dd01563-763f-4e9f-8aa5-197f210a2b92",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8130caa-b0e7-47eb-b774-4a3dee3b057e",
              "leftValue": "={{ $json.attachment }}",
              "rightValue": "={{ $('Details').item.json.id }}",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        48
      ],
      "id": "64c56666-cc86-472f-a2dd-03fe5d73001e",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hDCKKZ9hRkSOMXzi",
          "mode": "list",
          "cachedResultName": "[sub-ACTION] Describe Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image": "={{ $json.fileName }}"
          },
          "matchingColumns": [
            "image"
          ],
          "schema": [
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        144,
        -144
      ],
      "id": "2049024f-9b6c-4c0d-b9db-a8cd534f235c",
      "name": "Describe Image"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N2hlgk4HU8nVqtPZ",
          "mode": "list",
          "cachedResultName": "[DEMO] Collect Live Data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "reply": "={{ $('Details').item.json.reply }}",
            "from": "={{ $('Details').item.json.from }}",
            "subject": "={{ $('Details').item.json.subject }}",
            "context": "={{ $('Details').item.json.context }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "reply",
              "displayName": "reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -304,
        144
      ],
      "id": "0669ba91-9923-4817-a1f9-c35fc0488b60",
      "name": "Extract Information from Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38b5fb70-94a3-4e85-80e4-4d7656183ad8",
              "name": "reply",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "9829caea-8895-43f2-be20-ac67a757d449",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "de85a611-f54a-4934-b5fc-254ee9a6a5ed",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "94b3f673-a5b7-488b-acd5-e36d09443d7a",
              "name": "context",
              "value": "={{ $('ContextLoad').item.json.context }}",
              "type": "string"
            },
            {
              "id": "d33a0c52-931b-4d16-a8c0-62caef87cfef",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f08680e2-de33-4c65-af58-40671ad29229",
              "name": "attachment",
              "value": "={{ $('Get many messages').item.binary }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        48
      ],
      "id": "400a91ba-a13a-4099-bdef-0315c1366c5c",
      "name": "Details"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39f6dd06-f241-4f24-90f1-f84b3c7d4d82",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "array"
            },
            {
              "id": "3faa03d0-cc9c-42b8-94b9-b011be6ccf5f",
              "name": "undefinedFields",
              "value": "={{ $json.undefinedFields }}",
              "type": "array"
            },
            {
              "id": "b5070d84-2b91-4d97-82b9-4663e9a6e077",
              "name": "attachment",
              "value": "={{ $('Loop Over Items').item.json.attachment }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        336
      ],
      "id": "aa0dc9e9-e22e-4d26-98f2-c1f0fdbe686b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1200,
        120
      ],
      "id": "5308087b-6f27-44cb-a799-d33d690df836",
      "name": "Get many messages",
      "webhookId": "0e0be70e-7588-4ba3-925b-e8dcfe660e70",
      "credentials": {
        "gmailOAuth2": {
          "id": "1mqqwkXixpUMU3z0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N2hlgk4HU8nVqtPZ",
          "mode": "list",
          "cachedResultName": "[DEMO] Collect Live Data"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "reply": "={{ $('Details').item.json.reply }}\n---\nAttachment Information (JSON):\n{{ $json.output.toJsonString() }}",
            "from": "={{ $('Details').item.json.from }}",
            "subject": "={{ $('Details').item.json.subject }}",
            "context": "={{ $('Details').item.json.context }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "reply",
              "displayName": "reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        368,
        -144
      ],
      "id": "0d4bf4c8-9aeb-48bb-8d07-fb36a0ad1d86",
      "name": "Extract Information from Email1"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Details').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -80,
        48
      ],
      "id": "1069dd85-a777-4584-8d71-111eba593edf",
      "name": "Mark a message as read",
      "webhookId": "46028c6a-0f10-4125-b9c3-cc6b6e65e9af",
      "credentials": {
        "gmailOAuth2": {
          "id": "1mqqwkXixpUMU3z0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/demo/{{ $binary.data.fileName }}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -80,
        -144
      ],
      "id": "92b5651a-3dca-43ce-aade-b347622ad50e",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=attachment.attachment_0.data",
        "options": {
          "fileName": "={{ $json.id }}.{{ $json.attachment.attachment_0.fileExtension }}",
          "mimeType": "={{ $json.attachment.attachment_0.mimeType }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -304,
        -144
      ],
      "id": "75a46526-e69d-46c2-8b7d-d39a4af6d495",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Details').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        -192
      ],
      "id": "2fadb523-9c29-46cc-9db0-e053982a82d0",
      "name": "Mark a message as read1",
      "webhookId": "46028c6a-0f10-4125-b9c3-cc6b6e65e9af",
      "credentials": {
        "gmailOAuth2": {
          "id": "1mqqwkXixpUMU3z0",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContextLoad": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "ContextLoad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Information from Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe Image": {
      "main": [
        [
          {
            "node": "Extract Information from Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Information from Email": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Details": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Information from Email1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark a message as read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Describe Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3cacdde1-dcb2-461e-838f-1bc8bb60d088",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "061fbf063b4948f7663287693aacd3ca165021b2af8dfc4c32e26d9d89802289"
  },
  "id": "xStrvIiJVHh5VVVB",
  "tags": []
}