workflows/[sub-ACTION] Prepare Email.json
{
  "name": "[sub-ACTION] Prepare Email",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "  {\n    \"name\": \"Jimmy Ellis\",\n    \"email\": \"jturner@example.com\",\n    \"city\": \"West Tracy\",\n    \"nationality\": \"Andorra\",\n    \"mobile_number\": \"424-801-3706\",\n    \"passport\": \"eE943781\",\n    \"hasUndefined\": true,\n    \"undefinedFields\": [\n      \"job\"\n    ]\n  }"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "33cbffcf-396c-41db-aec5-0251350342d4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on this information:\n\n{{ $json.toJsonString() }}\n\nCreate an email to request the missing fields (without signature). Do not add anything else besides JSON:\n{\n  subject: emailsubject,\n  email: content without signature\n}",
        "options": {
          "systemMessage": "Your name is Luisa and you are a helpful assistant designed to close the data gap in our dataset.\nContext: The company name is Blabla and it focus on training. It's based in Abu Dhabi"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "beda22a0-dd3a-4cbf-b1a9-0f511c32a23a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3n:latest",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        208,
        192
      ],
      "id": "cc6c9a49-8302-4599-8e56-1d4a4cd7aee2",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "JhKZE0WSdYWgRAYL",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf2221c1-b4f9-478d-9022-3277f424d411",
              "name": "output",
              "value": "={{ $json.output.split(\"```json\")[1].split(\"```\")[0].parseJson() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "635a328c-c2fd-4d93-8ebd-514f698581df",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output.email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "6bc3dbd3-dce3-4cac-87b9-bde7969e17e4",
      "name": "Markdown"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8e9ec98a-c8bf-45df-8ba9-d9b497056e7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "061fbf063b4948f7663287693aacd3ca165021b2af8dfc4c32e26d9d89802289"
  },
  "id": "bmQbrbKmgq7pQv24",
  "tags": []
}