workflows/[sub-ACTION] Prepare Email.json
{
  "name": "[sub-ACTION] Prepare Email",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{  \"user\":\n  {\n    \"name\": \"Jimmy Ellis\",\n    \"email\": \"jturner@example.com\",\n    \"city\": \"West Tracy\",\n    \"nationality\": \"Andorra\",\n    \"mobile_number\": \"424-801-3706\",\n    \"passport\": \"eE943781\",\n    \"hasUndefined\": true,\n    \"undefinedFields\": [\n      \"job\"\n    ]\n  },\n  \"context\": \"agent context\"  \n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "33cbffcf-396c-41db-aec5-0251350342d4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on this information:\n\n{{ $json.user.toJsonString() }}\n\nCreate an email to {{$json.user.email}} request to their missing fields (without signature). Do not add anything else besides JSON:\n{\n  subject: emailsubject,\n  email: content without signature\n}",
        "options": {
          "systemMessage": "={{ $json.context }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        432,
        0
      ],
      "id": "beda22a0-dd3a-4cbf-b1a9-0f511c32a23a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gemma3n:e2b",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "id": "cc6c9a49-8302-4599-8e56-1d4a4cd7aee2",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "JhKZE0WSdYWgRAYL",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf2221c1-b4f9-478d-9022-3277f424d411",
              "name": "output",
              "value": "={{ $json.output.split(\"```json\")[1].split(\"```\")[0].parseJson() }}",
              "type": "object"
            },
            {
              "id": "70d751d4-0c4d-4ff4-972d-86db72b1052d",
              "name": "duration",
              "value": "={{ Date.now() - $('Edit Fields1').item.json.starttime }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "635a328c-c2fd-4d93-8ebd-514f698581df",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output.email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1056,
        0
      ],
      "id": "6bc3dbd3-dce3-4cac-87b9-bde7969e17e4",
      "name": "Markdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "114a0af7-4730-4737-a0ac-95abd358d055",
              "name": "starttime",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "9e2ada11-7aba-42f5-8d15-cad21aaae3d8",
              "name": "user",
              "value": "={{ $json.user }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "06f226b3-6ff7-412a-9413-a6988d9cfa5f",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "user": {
            "name": "Jimmy Ellis",
            "email": "jturner@example.com",
            "city": "West Tracy",
            "nationality": "Andorra",
            "mobile_number": "424-801-3706",
            "passport": "eE943781",
            "hasUndefined": true,
            "undefinedFields": [
              "job"
            ]
          },
          "context": "Your name is Luisa and you are a helpful assistant designed to close the data gap in our dataset.\nContext: The company name is Blabla and it focus on training. It's based in Abu Dhabi (UAE)\nTone: Professional and Polite tone for all conversations\n"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c413562b-fbae-40da-958f-99ca26c8392e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "061fbf063b4948f7663287693aacd3ca165021b2af8dfc4c32e26d9d89802289"
  },
  "id": "bmQbrbKmgq7pQv24",
  "tags": []
}